## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,14,Isangel,VU,73.51,scattered clouds,-19.5500,169.2667,Tanna Lodge
1,16,Vaini,TO,73.56,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
2,20,Carnarvon,AU,64.26,clear sky,-24.8667,113.6333,Hospitality Carnarvon
3,23,Ribeira Grande,PT,73.80,few clouds,38.5167,-28.7000,Quinta da Meia Eira
4,29,Rikitea,PF,74.50,light rain,-23.1203,-134.9692,People ThankYou
5,31,Lagoa,PT,68.59,broken clouds,39.0500,-27.9833,Casa Das Faias
6,35,Pacasmayo,PE,67.32,scattered clouds,-7.4006,-79.5714,Hotel Libertad
7,38,Quatre Cocos,MU,71.71,scattered clouds,-20.2078,57.7625,Sunrise Attitude Hotel
8,49,Hualmay,PE,65.39,few clouds,-11.0964,-77.6139,Hotel Villa Kitzia Huacho
9,50,Lazurne,UA,70.36,clear sky,46.0840,32.5295,New Manna Hostel

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',            
    'border': '1px solid black',   
    'padding': '1px',              
    'margin': '0 auto 0 auto'
}

In [20]:
fig = gmaps.figure(layout=figure_layout)

In [21]:
# 4a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations)
# 4b. Display the figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi…

In [23]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Ryotsu"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Ryotsu"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Kamiiso"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Nanae"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Shingu"]

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0],\
        vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0],\
      vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0],\
        vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],\
      vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],\
      vacation_stop3["Lng"].to_numpy()[0]

In [29]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Country_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(Country_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,668,Ryotsu,JP,72.55,light rain,38.0833,138.4333,Sadokamoko Onsen Kohanno Yado Yoshidaya
1,668,Ryotsu,JP,72.55,light rain,38.0833,138.4333,Sadokamoko Onsen Kohanno Yado Yoshidaya
2,527,Kamiiso,JP,69.80,light rain,41.8167,140.6500,Business Inn Abe
3,499,Nanae,JP,69.19,light rain,41.8833,140.6833,とみや旅館
4,421,Shingu,JP,74.32,overcast clouds,33.7333,135.9833,Shingu UI Hotel

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [46]:
# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',            
    'border': '1px solid black',   
    'padding': '1px',              
    'margin': '0 auo 0 auto'
}

In [47]:
fig = gmaps.figure(layout=figure_layout)

In [48]:
# 11a. Add a marker layer for each city to the map.
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auo 0 auto', padding='1px', wid…